
/* Estilos para el carrusel */
.carousel {
  width: 100%; /* Abarcar el ancho completo */
  max-height: 80vh; /* Ajustar la altura */
  overflow: hidden; /* Ocultar desbordamiento */
  background-color: var(--blanco-crema); /* Fondo pastel */
}

.carousel-image {
  width: 100%;
  height: auto; /* Mantener proporciones */
  object-fit: cover; /* Ajustar imagen */
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* Indicadores del carrusel */
.carousel-indicators {
  bottom: 10px;
}

.carousel-indicators button {
  background-color: var(--morado-suave);
}


