

/* Estilos para el carrusel */
.carousel {
  width: 100%; /* Abarcar el ancho completo */
  max-height: 80vh; /* Ajustar la altura */
  overflow: hidden; /* Ocultar desbordamiento */
  background-color: var(--blanco-crema); /* Fondo pastel */
}

.carousel-image {
  width: 100%;
  height: auto; /* Mantener proporciones */
  object-fit: cover; /* Ajustar imagen */
}

/* Botones del carrusel */
.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(200, 180, 226, 0.7); /* Transparencia morado suave */
  color: var(--blanco-crema);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  transition: background 0.3s ease;
}

.btn:hover {
  background: rgba(255, 197, 209, 0.9); /* Rosa claro al pasar el ratón */
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* Indicadores del carrusel */
.carousel-indicators {
  bottom: 10px;
}

.carousel-indicators button {
  background-color: var(--morado-suave);
}

.img{
  width: 100%;
}

