.container .carrusel {
  margin-top:   auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 850px;
  height: 500px;
  max-width: auto;
  overflow: hidden;
  position: relative;
}

.hola{
  background-color: black;
  width: 100%;
}